.DS_Store
Thumbs.db

*.orig

.bash_history
.bash_sessions/

.tmux/.tmux/plugins/*/
!.tmux/.tmux/plugins/tpm

vim/.vim/plugged/
vim/.vim/autoload/
vim/.vim/undodir/

.config/nvim/
!.config/nvim/.git

**/.netrwhist

.claude/
