.DS_Store
Thumbs.db

*.orig

.bash_history
.bash_sessions/

.tmux/.tmux/plugins/*/
!.tmux/.tmux/plugins/tpm

.vim/spell/
.vim/undo/
.vim/backup/
.vim/swap/
.vim/view/
.vim/plugged/
.vim/autoload/
.vim/undodir/

.config/nvim/
!.config/nvim/.git

**/.netrwhist

.claude/
